a:hover{ color:red;font-size:45px;}


body {
	color:lightblue; 
	TEXT-ALIGN: center
	;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	background-image:url(http://c.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=d2fcf0abadc379317d3d8e2ddef49b73/838ba61ea8d3fd1feb389097324e251f95ca5f6d.jpg);
	vertical-align:middle;

	font-size:60px
}

#ipad_pic {
	width: 450px;
	height: 300px;
}