body {
	color:lightblue; 
	TEXT-ALIGN: center;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	background-image:url(http://h.hiphotos.baidu.com/zhidao/pic/item/b3119313b07eca803adb0a4a932397dda0448344.jpg);

	vertical-align:middle;

	font-size:60px;
}

#ipad_pic {
	width: 450px;
	height: 300px;
}