body {
	color:lightblue; 
	TEXT-ALIGN: center
	;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	background-image:url(http://b.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=b40075164510b912bf94fefaf6cdd035/7aec54e736d12f2ec0299ccd4dc2d5628535686a.jpg);

	vertical-align:middle;

	font-size:60px
}

#ipad_pic {
	width: 450px;
	height: 300px;
}